@page "/reorderlogs"

<PageTitle>Reorder logs overview</PageTitle>

<div class="relative w-full p-6">
    <PageTitleComponent Title="Reorder logs overview" Description="This page provides an overview of all reorder logs." />
</div>

@code {

}
